<div *ngIf="data" data-sticky-container="" class="sticky-container" style="height: 169px;">
  <img src="https://www.ebi.ac.uk/pdbe/pdbe-kb/static/img/beta-corner.png" style="position: absolute; height: 80px">
  <div id="masthead" class="masthead sticky is-anchored is-at-top" data-sticky="rgkpaw-sticky" data-sticky-on="large"
       data-top-anchor="content:top" data-btm-anchor="content:bottom" data-resize="masthead" data-mutate="masthead"
       data-events="resize" style="max-width: 1704px; margin-top: 0; bottom: auto; top: 0;">
    <div class="masthead-inner row">
      <div class="columns medium-7" id="local-title">
        <h1>
          <a href="https://www.ebi.ac.uk/pdbe/pdbe-kb" title="Back to PDBe-KB homepage">
          <img src="{{data.logo_url}}" style="max-height: 60px">
        </a></h1>
      </div>
      <div class="columns medium-5">
        <search-autocomplete></search-autocomplete>
      </div>
      <nav>
        <ul id="local-nav" class="dropdown menu float-left" data-description="navigational" role="menubar"
            data-dropdown-menu="1xnjtv-dropdown-menu">
          <ng-template ngFor let-icon [ngForOf]="data.nav_items" let-navIndex="index">
            <li role="menuitem" [class.active]="activeSection == navIndex">
              <span *ngIf="icon.counts == 0">
                <a class="zero-count-icon">
                  <i class="icon {{icon.icon_class}}" [attr.data-icon]="icon.icon_data_icon"></i>
                {{icon.label}} (0)
                </a>
              </span>
              <span *ngIf="icon.counts != 0">
                <a (click)="scrollToId(icon.section_div_id)">
                <i class="icon {{icon.icon_class}}" [attr.data-icon]="icon.icon_data_icon"></i>
                {{icon.label}}
                <span *ngIf="icon.counts && icon.counts > -1">({{icon.counts}})</span>
                </a>
              </span>
            </li>
          </ng-template>
            <li>
              <a href="https://www.ebi.ac.uk/support/PDBe" target="_blank">
              <i class="icon icon-generic" data-icon="\"></i>&nbsp;Feedback
              </a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
